@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* typography */
* {
  font-family: "Vollkorn", serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgba(2, 0, 104, 0.03);
}

a {
  transition: 1s;
}

h1 a {
  color: black;
  text-decoration: none;
}

h2 {
  margin: 2rem 0;
}

.header {
  border-bottom: 1px solid black;
  margin-bottom: 2rem;
}

.container {
  display: block;
  margin: auto;
  padding: 0 1rem;
  max-width: 1000px;
}

/* navigation links */
.nav-icon {
  fill: black;
  width: 1.2rem;
  transition: 0.3s;
}

.nav-icon-mobile {
  fill: black;
  width: 2rem;
  transition: 0.3s;
}

.header-nav-list {
  display: none;
  font-size: 1.4rem;
  font-weight: 100;
}

.header-nav-list li {
  list-style-type: none;
}

.header-nav-list a {
  color: black;
  text-decoration: none;
  margin-left: 2rem;
}

.header-nav-list a.active {
  color: rgb(2, 0, 104);
}

/* navigation link underline animation */
.header-nav-list a:hover {
  color: rgb(2, 0, 104);
}

.underline {
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.underline:hover {
  border-bottom: 1px solid rgb(2, 0, 104);
}

.nav-icon:hover,
.nav-icon-mobile:hover {
  fill: rgb(2, 0, 104);
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav h1 {
  font-size: 2rem;
  font-weight: 100;
}

/* home page image */
.hero > img {
  margin: auto;
  display: block;
  object-fit: cover;
  width: 100%;
  max-height: 500px;
  border-radius: 5px;
  box-shadow: 10px 10px 15px grey;
}

/* Contact Form */
.contact {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 2rem 0;
  width: 100%;
}

.contact-text {
  margin-bottom: 2rem;
  box-shadow: 2px 1000px 1px #fff inset, 0 0 3px rgba(2, 0, 104, 0.4);
  border: solid 1px transparent;
  background-image: linear-gradient(rgb(2, 0, 104), rgba(147, 147, 147, 0.253)),
    linear-gradient(90deg, #00ccff, #7b0077);
  background-origin: border-box;
}

.contact-btn {
  width: 200px;
  margin: auto;
  padding: 0.5rem 3rem;
  transition: 0.2s;
  cursor: pointer;
}

.contact-btn:hover {
  transform: scale(1.05);
}

textarea {
  padding: 5px;
  height: 200px;
}

/* gradient border */
.contact-text,
.contact-btn,
textarea {
  padding: 8px;
  font-size: 1rem;
  margin-bottom: 2rem;
  box-shadow: 2px 1000px 1px #fff inset, 0 0 3px rgba(2, 0, 104, 0.4);
  border: solid 1px transparent;
  background-image: linear-gradient(rgb(2, 0, 104), rgba(147, 147, 147, 0.6)), linear-gradient(90deg, #00ccff, #7b0077);
  background-origin: border-box;
}

.hero-album > img {
  margin: auto;
  display: block;
  object-fit: cover;
  width: 100%;
  max-height: 500px;
  border-radius: 5px;
  box-shadow: 10px 10px 15px grey;
}

.hero-album {
  position: relative;
  /* cursor: pointer; */
}

.hero-album-image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(2, 0, 104, 0.4);
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
}

.overlay h3 {
  font-size: 1.6rem;
  font-weight: lighter;
}

.album-arrows {
  font-size: 4rem;
  display: flex;
  justify-content: space-around;
}

.album-arrows span {
  cursor: pointer;
}

/* media query - medium size screen and up */
@media (min-width: 776px) {
  .header-nav-list {
    display: flex;
  }

  .container {
    padding: 0 3rem;
  }

  .header-nav > div {
    display: none;
  }

  .overlay {
    font-size: 1.4rem;
    padding: 2rem;
  }

  .overlay h3 {
    font-size: 2rem;
  }
}
